version: 2

jobs:
  build:
    docker:
      - image: cimg/php:7.4-browsers
        environment:
          ENVIRONMENT: test
          DB_DSN: "mysql:host=0.0.0.0;port=3306;dbname=craft_base_test"
          DB_USER: craft_base
          DB_PASSWORD: craft_base
          DB_TABLE_PREFIX:
          SECURITY_KEY: asdfasdfasdfasdfasdf
          DEFAULT_SITE_URL: http://craft-base.test/
      - image: cimg/mysql:8.0
        environment:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: craft_base_test
          MYSQL_USER: craft_base
          MYSQL_PASSWORD: craft_base
    steps:
      - checkout
      - run: sudo apt update
      - run: sudo apt install libpng-dev default-mysql-client
      - run: sudo docker-php-ext-install gd pdo_mysql zip
      - run: sudo composer self-update
      - restore_cache:
          keys:
            - composer-{{ checksum "composer.lock" }}
            # fallback to using the latest cache if no exact match is found
            - composer-
      - run: composer install -n --prefer-dist
      - save_cache:
          key: composer-{{ checksum "composer.lock" }}
          paths:
            - vendor
      - run: ./vendor/bin/codecept run
