.parts-kit {
    background: var(--pk-background);
    display: flex;
}

.parts-kit__sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.parts-kit__button {
    background: none;
    border: none;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-transform: inherit;
}

/* Sidebar */
.parts-kit__sidebar {
    background: var(--pk-background);
    box-sizing: border-box;
    color: var(--pk-text);
    flex-shrink: 0;
    font-family: BlinkMacSystemFont, sans-serif;
    min-height: 100vh;
    padding: 2rem 0 .75rem;
    width: 210px;
}

.parts-kit__sidebar.hidden {
    display: none;
}

.parts-kit__sidebar * {
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.parts-kit__sidebar *,
.parts-kit__sidebar *:before,
.parts-kit__sidebar *:after {
    box-sizing: inherit;
}

.parts-kit__sidebar ol {
    list-style: none;
}

.parts-kit__sidebar .flex {
    display: flex;
}
/* Search */
.parts-kit__search {
    margin-bottom: 8px;
    padding: 0 18px;
    position: relative;
}

.parts-kit__search-icon {
    border-color: var(--pk-text);
    bottom: 0;
    fill: none;
    height: 16px;
    left: 18px;
    margin: auto 0;
    opacity: .5;
    position: absolute;
    top: -2px;
    width: 16px;
}

.parts-kit__search-input {
    appearance: none;
    background: transparent;
    border-bottom: 1px solid currentColor;
    border: none;
    color: var(--pk-text);
    display: block;
    font-size: .875rem;
    opacity: .5;
    padding-left: 20px;
    padding: 4px;
    width: 100%;
}

    .parts-kit__search-input:focus {
        border-color: var(--pk-nav-subitem-background-active);
        opacity: .8;
    }

    .parts-kit__search-input:focus + .parts-kit__search-icon {
        color: var(--pk-nav-subitem-background-active);
        opacity: 1;
    }

.parts-kit__search-input::placeholder {
    color: currentColor;
}

/* Nav */
.parts-kit__nav {
    font-size: .875rem;
}

.parts-kit__nav-button {
    padding: .25rem;
    width: 100%;
}

.parts-kit__nav-button:hover {
    background-color: var(--pk-nav-item-background-hover);
    color: var(--pk-nav-item-text-hover);
}

.parts-kit__nav-caret,
.parts-kit__nav-component,
.parts-kit__nav-story {
    display: block;
    fill: var(--pk-nav-icon);
    margin-right: .25rem;
    width: .625rem;
}

.parts-kit__nav-caret {
    transform: rotate(180deg);
}

.parts-kit__nav-sub-items[data-togglee] {
    opacity: 1;
    transition: all .15s;
    visibility: visible;
}

.parts-kit__nav-sub-items.collapsed {
    max-height: 0!important;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
}

.parts-kit__nav-sub-items a {
    color: inherit;
    display: block;
    font-size: .875rem;
    padding: .25rem 1.5rem;
    text-decoration: none;
}

.parts-kit__nav-sub-items a:hover {
    background-color: var(--pk-nav-subitem-background-hover);
    color: var(--pk-nav-subitem-text-hover);
}

.parts-kit__nav-sub-items a.active {
    background: var(--pk-nav-subitem-background-active);
    color: var(--pk-nav-subitem-text-active);
}

.parts-kit__nav-sub-items a.active .parts-kit__nav-story {
    fill: currentColor;
}

/* Search state */
.search-active .parts-kit__nav > li:not(.in-search),
.search-active .parts-kit__nav-sub-items > li:not(.in-search) {
    display: none;
}

/* Main Container */
.parts-kit__main {
    flex-grow: 1;
    margin-right: .5rem;
    min-height: 100vh;
    min-width: 0;
    padding: .5rem 0;
}

.parts-kit__main-header {
    border-bottom: 1px solid var(--pk-controls-border);
    color: var(--pk-controls-text);
    display: flex;
    justify-content: flex-end;
    margin-bottom: .75rem;
    padding: .375rem .75rem;
}

.parts-kit__main-header button.hidden {
    display: none;
}

.parts-kit__main-header svg {
    display: block;
    fill: currentColor;
    width: 1rem;
}

.parts-kit__main-wrapper {
    background: var(--pk-main-background);
    border-radius: .25rem;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25);
    height: 100%;
}

.parts-kit__main-container {
    position: relative;
}
